#heading
  h1 News Feed
#content
  #categories
    ul#category_list
  #feed
    ul#feed_list
#footer
  p 
    span#client_count 0
    |  connected clients
script(type="text/javascript", src="/feed.js")
