- if (!sess) var sess = '?'
section#area
  nav#nav
    ul#buttons
      li#splash_button Splash
      li#lobby_button 10 Forward
      li#controls_button Bridge
    section#events
      section#eventlist
  section#splash
    header
      hgroup
        h2 Welcome to
        h1 Battleship!
        h2 Sink your friends...
  section#lobby
    header
      h1 Find people to play with
    #profile
    #logged_in
      ul#logged_in
        form#start
          input(type="button",value="Create Game")
          input(type="button",value="Invite Friend")
    #in_progress
      ul#full
      ul#open
      ul#finished
    section#chat
      section#lobby_chat
  section#controls
    div
      input(type="button",value="deploy",disabled,id="deploy_button")
    div
      textarea(value="{}",rows=5,cols=40,id="deploy_data")
        { "ships": [ { "type": "battleship",
                       "loc": [0,0],
                       "ori": "s" },
                     { "type": "carrier",
                       "loc": [2,0],
                       "ori": "e" },
                     { "type": "destroyer",
                       "loc": [2,1],
                       "ori": "s" },
                     { "type": "submarine",
                       "loc": [5,5],
                       "ori": "w" },
                     { "type": "cruiser",
                       "loc": [6,8],
                       "ori": "n" } ] }
    div
      input(type="button",value="enact",disabled,id="enact_button")
    div
      textarea(value="{}",rows=5,cols=40,id="enact_data")
        { "type": "shot", "loc": [0, 0] }
  audio(id="tt",preload="auto")
  source(src="/audio/tt.mp3")
  source(src="/audio/tt.wav")
