- if (!sess) var sess = '?'
header
    hgroup
        h1 Welcome To Battleship!
        h2 Sink your friends...
section#lobby
    header
        h1 Find people to play with
    #profile
        p Your session is #{sess}
    #logged_in
        ul#logged_in
        form#start
            input(type="button",value="Create Game")
            input(type="button",value="Invite Friend")
    #in_progress
        ul#full
        ul#open
        ul#finished
section#games
    //
        header
            h1 Scott vs. Jeff
        section#game_1293
            canvas(width="300",height="300")
        section#game_9837
            canvas(width="300",height="300")
section#chat
    section#lobby_chat
    //
        section#game_1293_chat
            p hello
        section#player_ben_chat
            p welcome
section#events
    header
      h1 Event Log
