- if (!title) var title = 'Battleship'
!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        link(rel="stylesheet", href="css/style.css")
        //if lt IE 9
            script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/client.io.js")
    body
        div!= body
