!!! 5
html(lang="en")
  head
    title SessionTest
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/public/sessiontest.js")
  body
    #heading
      h3 your session is #{sess}
    #content
    #footer
